.main-card {
    width: 42vw;
    margin: auto;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #eee;
}

main img {
    width: 100%;
    height: 30vw;
}
.card-header, .card-footer {
    margin-left: 8px;
    margin-bottom: 2px;
}
.header-name {
    font-size: 1.2rem;
    font-weight: bold;
}
.header-location {
    font-size: 1.2rem;
    /* font-size: ; */
    letter-spacing: 2px;
}

.card-date {
    float: right;
}